#header {
    background-color: #FFF;
    padding: 0;
    color: #313131;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
    height: 80px;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
}

/*fadeアニメーション*/
.top-animation {

  img {
    display: block;
    width: 75%;
    margin: 100px auto 50px;
  }
}

#changePic {
animation :imgfade 5s infinite;
opacity: 0;
}

@keyframes imgfade {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* jsSlider */
.jsSlider_container {
  max-width: 100%;
  position: relative;
  margin: 0 auto 5px;

  h1 {
    text-align: center;
    margin-top: 100px;
  }
}
.jsSlider_container .jsSlides img {
  object-fit: cover;
  display: block;
  width: 45%;
  margin: 100px auto 10px;

}

/* ページ送り */
.prev {
  cursor: pointer;
  position: absolute;
  top: 56%;
  left: 28%;
  width: auto;
  padding: 10px 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  transform: translateY(-50%);
}

.next {
  cursor: pointer;
  position: absolute;
  top: 56%;
  right: 28%;
  width: auto;
  padding: 10px 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* テキスト */

.jsSlider_numbertext {
    color: #FFF;
    font-size: 0.9rem;
    padding: 3px 12px;
    position: absolute;
    top: 5px;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    right: 450px;
}

/* インジケーター */
.jsSlider_dots {
  text-align: center;
}
.jsSlider_dots--dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.jsSlider_dots--dot:hover {
  background-color: #f0db3f;
}

/* fadeアニメーション */
.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*scroll fade-inアニメーション*/
.msg{
  color: #333;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 40px;
  text-align: center;

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.fade-in {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity, transform;
  display: flex;
  margin: 115px auto;
  width: 50%;

  img {
    width: 50%;
  }

  p {
    width: 50%;
    margin: 0 40px
  }
}

.fade-in-up {
  transform: translate(0, 50px);
}

.fade-in-down {
  transform: translate(0, -50px);
}

.fade-in-left {
  transform: translate(-50px, 0);
}

.fade-in-right {
  transform: translate(50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

/* ラインマーカー */
.lineMarker.scroll-in{
background-position: -100% 0.7rem;
}

.lineMarker {
background-image: -webkit-linear-gradient(left, transparent 50%, rgb(255,250,90) 10%);
background-image: -moz-linear-gradient(left, transparent 50%, rgb(255,250,90) 10%);
background-image: linear-gradient(left, transparent 50%, rgb(255,250,90) 10%);
background-repeat: repeat-x;
background-size: 200% .7em;
background-position: 0 .8em;
transition: all 1.2s ease;
font-weight: bold;
}

.lineBlue {
background-image: -webkit-linear-gradient(left, transparent 50%, rgb(154,218,255) 10%);
background-image: -moz-linear-gradient(left, transparent 50%, rgb(154,218,255) 10%);
background-image: linear-gradient(left, transparent 50%, rgb(154,218,255) 10%);
}

.lineGreen {
background-image: -webkit-linear-gradient(left, transparent 50%, rgb(152,255,155) 10%);
background-image: -moz-linear-gradient(left, transparent 50%, rgb(152,255,155) 10%);
background-image: linear-gradient(left, transparent 50%, rgb(152,255,155) 10%);
}

/*ページtopへ戻るボタン*/
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 10px;
  bottom: 0;
  opacity: 0;
  transition: all 1s ease;
}
#page_top.show {
    opacity: 0.6;
    transform: none;
 }
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 30px;
  color: #A12568;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'TOP';
  font-size: 18px;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #A12568;
}

/* コンテナのサイズ調整 */
.swiper-container {
    width: 50%;
    height: 480px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
/* ページネイションをinlineで中央に */
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: inline-block;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}
